@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #ff0000; /* Color rojo */
  animation: spin 1s ease-in-out infinite;
}

.th-td {
  @apply p-6;
}

.tb-td {
  @apply p-8 sm:text-sm md:text-lg;
}

.state {
  @apply rounded-xl border px-4 py-2 text-center font-semibold;
}

.repaired-state {
  @apply state border-green-500 bg-green-200 text-green-700;
}

.unrepaired-state {
  @apply state border-red-500 bg-red-200 text-red-700;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
