@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #ff0000; /* Color rojo */
  animation: spin 1s ease-in-out infinite;
}

.th-td {
  @apply p-6;
}

.tb-td {
  @apply max-w-40 p-4 text-slate-600;
}

.state {
  @apply mx-auto w-10/12 rounded-xl border px-4 py-2 text-center;
}

.repaired-state {
  @apply state border-green-500 bg-green-100 text-green-600;
}

.unrepaired-state {
  @apply state border-red-500 bg-red-100 text-red-600;
}

.table-list {
  @apply flex h-full w-full list-disc flex-col items-start gap-4 text-left;
}

.table-list > li::marker {
  @apply text-slate-600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
